<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <hr />
    Search form
    <form method="POST" action="/">
        <div>
            Name <input type="text" name="name" autofocus>
        </div>
        <div>
            Phone <input type="text" name="phone">
        </div>
        <button type="submit">Search</button>
    </form>
    <hr />
    <h3>My Contacts</h3>
    <hr />
</body>
</html>